@import "./_variables";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import "./footer";
@import "./header";
@import "./Music-Main";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}


body {
  height: 200vh;
  overflow-x: hidden;

  button {
    border-radius: 0% !important;
  }


  main {
    height: 155vh;
    #carouselslide {
      display: flex;
      width: 100vw;
    }

    #carouselExampleCaptions {
      border-color: $color-especial !important;
    }
  }

  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-direction: row-reverse !important;
  }



}
